<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">В <span style="background-color: rgb(250, 204, 30);">{ИФНС}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">от <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">ИНН <span style="background-color: rgb(250, 204, 30);">{ИНН}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">КПП <span style="background-color: rgb(250, 204, 30);">{КПП}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">Адрес <span style="background-color: rgb(250, 204, 30);">{Адрес}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap; text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap; text-align: center;"><b>Пояснение</b></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><br></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">    В ответ на <span style="background-color: rgb(250, 204, 30);">{Требование}</span><span style="background-color: rgb(255, 255, 255);">,</span> сообщаем следующее.</p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><br></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    </span><span style="white-space: pre-wrap;">Прогнозируемые платежи по налогам за период <span style="background-color: rgb(250, 204, 30);">&lt;период&gt;</span> приведены ниже: </span></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap; background-color: rgb(250, 204, 30);">{Платежи}</span></p>
<p style="line-height: 1.15; margin: 0px;"><br></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    </span><span style="white-space: pre-wrap;">Фактические платежи могут отличаться от прогнозируемых</span><span style="white-space: pre-wrap;"> пределах 10–15 процентов. </span></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    </span><span style="white-space: pre-wrap;">Отклонения связаны с тем, что <span style="background-color: rgb(250, 204, 31);">&lt;</span></span><span style="white-space: pre-wrap; background-color: rgb(250, 204, 31);">ПричиныОтклонений&gt;</span><span style="white-space: pre-wrap;">.</span></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    </span><span style="white-space: pre-wrap;">Организация </span><span style="white-space: pre-wrap; background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span><span style="white-space: pre-wrap; background-color: rgb(255, 255, 255);"> </span><span style="white-space: pre-wrap;">не планирует в этот период возмещать НДС, возвращать или зачитывать переплату по налогам.</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><br></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    Исполнитель: </span><span style="white-space: pre-wrap; background-color: rgb(250, 204, 30);">{Исполнитель}</span></p>


</body></html>