<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">В <span style="background-color: rgb(250, 204, 30);">{ИФНС}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">от <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">ИНН <span style="background-color: rgb(250, 204, 30);">{ИНН}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">КПП <span style="background-color: rgb(250, 204, 30);">{КПП}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">Адрес <span style="background-color: rgb(250, 204, 30);">{Адрес}</span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap; text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap; text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap; text-align: center;"><b>Пояснение</b></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><br></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">    В ответ на <span style="background-color: rgb(250, 204, 30);">{Требование}</span><span style="background-color: rgb(255, 255, 255);">,</span> сообщаем следующее.</p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">    В отчете <span style="background-color: rgb(250, 204, 30);">{Отчет}</span><span style="background-color: rgb(255, 255, 255);"> </span>за <span style="background-color: rgb(250, 204, 30);">{Период}</span> нет ошибок и противоречий между сведениями.</p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><br></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;">     Причины, по которым в отчете <span style="background-color: rgb(250, 204, 30);">{Отчет}</span><span style="background-color: rgb(255, 255, 255);"> </span>за <span style="background-color: rgb(250, 204, 30);">{Период}</span> показана высокая доля расходов, заключаются в следующем<span style="background-color: rgb(255, 255, 255);">: </span></p>
<p style="line-height: 1.15; margin: 0px; white-space: pre-wrap;"><span style="background-color: rgb(250, 204, 30);">{Причины}</span><span style="background-color: rgb(255, 255, 255);">.</span></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap; background-color: rgb(255, 255, 255);"><br></span></p>
<p style="line-height: 1.15; margin: 0px;"><span style="white-space: pre-wrap;">    Исполнитель: </span><span style="white-space: pre-wrap; background-color: rgb(250, 204, 30);">{Исполнитель}</span></p>


</body></html>