<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta></head><body>
<meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta><meta name="format-detection" content="telephone=no"></meta><style type="text/css">
body{margin:0;padding:8px;}
p{line-height:1.15;margin:0;white-space:pre-wrap;}
ol,ul{margin-top:0;margin-bottom:0;}
img{border:none;}
li>p{display:inline;}
</style><p>В <span style="background-color: rgb(250, 204, 30);">{ИФНС}</span></p>
<p>от <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span></p>
<p>ИНН <span style="background-color: rgb(250, 204, 30);">{ИНН}</span></p>
<p>КПП <span style="background-color: rgb(250, 204, 30);">{КПП}</span></p>
<p>Адрес <span style="background-color: rgb(250, 204, 30);">{Адрес}</span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;">Пояснение</span></p>
<p style="line-height: 1.15;"><br></p>
<p>    В ответ на <span style="background-color: rgb(250, 204, 30);">{Требование}</span><span style="background-color: rgb(255, 255, 255);">,</span> сообщаем следующее.</p>
<p>    В отчете <span style="background-color: rgb(250, 204, 30);">{Отчет}</span><span style="background-color: rgb(255, 255, 255);"> </span>за <span style="background-color: rgb(250, 204, 30);">{Период}</span> нет ошибок и противоречий между сведениями.</p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">    В связи с указанными ниже причинами налоговая база по НДФЛ снизилась на <span style="background-color: rgb(250, 204, 30);">&lt;Дельта&gt;</span> руб. по сравнению с <span style="background-color: rgb(250, 204, 30);">&lt;ПредыдущийПериод&gt;</span>:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{Причины}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">    Кроме того приводим детализацию причин по сотрудникам:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{ДетализацияПричинПоСотрудникам}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">    По указанным причинам средняя зарплата сотрудников в <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span> составляет <span style="background-color: rgb(250, 204, 31);">&lt;Средняя зарплата&gt;</span><span style="background-color: rgb(255, 255, 255);"> </span>руб., что выше МРОТ.</p>
<p style="line-height: 1.15;text-align: left;">
    С учетом вышеизложенного НДФЛ не занижен, нарушений при начислении и отражении сведений в отчете <span style="background-color: rgb(250, 204, 30);">{Отчет}</span><span style="background-color: rgb(255, 255, 255);"> </span>за <span style="background-color: rgb(250, 204, 30);">{Период}</span> года и необходимости представлять уточненный расчет нет.</p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">    Исполнитель: <span style="background-color: rgb(250, 204, 30);">{Исполнитель}</span></p>
<p style="line-height: 1.15;"><br></p>

</body></html>