<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><meta http-equiv="X-UA-Compatible" content="IE=Edge"></meta><meta name="format-detection" content="telephone=no"></meta><style type="text/css">
body{margin:0;padding:8px;}
p{line-height:1.15;margin:0;white-space:pre-wrap;}
ol,ul{margin-top:0;margin-bottom:0;}
img{border:none;}
li>p{display:inline;}
</style></head><body>
<p>В <span style="background-color: rgb(250, 204, 30);">{ИФНС}</span></p>
<p>от <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span></p>
<p>ИНН <span style="background-color: rgb(250, 204, 30);">{ИНН}</span></p>
<p>КПП <span style="background-color: rgb(250, 204, 30);">{КПП}</span></p>
<p>Адрес <span style="background-color: rgb(250, 204, 30);">{Адрес}</span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;"><br></span></p>
<p style="line-height: 1.15;text-align: center;"><span style="font-weight: bold;">Пояснение</span></p>
<p style="line-height: 1.15;"><br></p>
<p style="line-height: 1.15;text-align: left;">    Организация <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span> получила из налоговой инспекции <span style="background-color: rgb(250, 204, 30);">{</span><span style="background-color: rgb(250, 204, 30);">ИФНС}</span> <span style="background-color: rgb(250, 204, 30);">{</span><span style="background-color: rgb(250, 204, 30);">Требование}</span>, в связи с чем поясняет.</p>
<p style="line-height: 1.15;text-align: left;">    По вашему требованию организация <span style="background-color: rgb(250, 204, 30);">{НаименованиеОрганизации}</span> провела перепроверку результатов коммерческой деятельности и налоговой отчетности за <span style="background-color: rgb(250, 204, 30);">{Период}</span>. Факты неотражения или неполноты отражения сведений, а также ошибки, приводящие к занижению подлежащих уплате сумм налога, не выявлены.</p>
<p style="line-height: 1.15;text-align: left;">    В отчете <span style="background-color: rgb(250, 204, 30);">{Отчет}</span><span style="background-color: rgb(255, 255, 255);"> </span>за <span style="background-color: rgb(250, 204, 30);">{Период}</span> нет ошибок и противоречий между сведениями.</p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">Одновременно с этим сообщаем, что убыток в размере <span style="background-color: rgb(250, 204, 30);">{</span><span style="background-color: rgb(250, 204, 30);">УбыткиИтого</span><span style="background-color: rgb(250, 204, 30);">}</span> руб. образовался в связи со следующими обстоятельствами:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{Причины}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">В качестве подтверждения приводим расшифровку доходов и расходов.</p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">Доходы в размере <span style="background-color: rgb(250, 204, 30);">{ДоходыИтого}</span><span style="background-color: rgb(255, 255, 255);"> </span>руб.:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{Доходы}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">Расходы в размере <span style="background-color: rgb(250, 204, 30);">{РасходыИтого}</span><span style="background-color: rgb(255, 255, 255);"> </span>руб.:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{Расходы}</span></p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);"><br></span></p>
<p style="line-height: 1.15;text-align: left;">Таким образом, превышение расходов над доходами вызвано объективными причинами.</p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">С целью преодоления сложившейся ситуации планируем:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{Меры}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">Дополнительно сообщаем:</p>
<p style="line-height: 1.15;text-align: left;"><span style="background-color: rgb(250, 204, 30);">{ДополнительныйТекст}</span></p>
<p style="line-height: 1.15;text-align: left;"><br></p>
<p style="line-height: 1.15;text-align: left;">Исполнитель: <span style="background-color: rgb(250, 204, 30);">{Исполнитель}</span></p>
<p style="line-height: 1.15;"> </p>

</body></html>